* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


header {
    width: 100%;
    background-color: rgb(204, 201, 201);
    height: 45px;
    position: relative;
    width: 100%;   
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

nav {
    padding: 5px 0 0;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

nav ul li {
    margin: 5px 0;
    padding: 0 5px;
}

nav .user {
    display: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.logo {
    justify-content: center;
}

.logo img{
    width: 60px;
    border-radius: 50%;
}

.items {
   display: none;
}

.items a:hover{
    color:rgb(72, 138, 72)
}

.search-icon {
    height: 40px;
    width: 50px;
    display: flex;
    border-radius: 5px;
    padding: 0 10px;
}

.search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    background: rgb(228, 227, 227);
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    display: none;
}

.search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    /* background: rgb(228, 227, 227); */
    border-radius:5px;
    cursor: pointer;
    padding-right: 7px;
}

.user, .heart, .shop {
    font-size: 17px;
}

.login-form {
    display: flex;
    justify-content: center;
    padding-top: 40px; 
}

.form-name, .form-pass, .form-btn-send {
    margin: 20px;
}

.login-form input{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    padding: 8px;
    width: 320px;
    background-color: rgb(238, 237, 237);
}

.form-btn-send button{
    border: none;
    border-radius: 3px;
    width: 100px;
    background: rgb(72, 138, 72);
    padding: 8px;
    color: #ffffff;
    cursor: pointer
}

.form-btn-send button:hover {
    background: #21660c;
}


@media(min-width: 771px){
    .items {
        display: flex;
        margin-left: 150px;
    }
    .items li {
        margin: 0 10px
    }
    .burger {
        display: none;
    }
    .logo {
        order: -1;
    }
    .heart, .shop {
        order: 1;
    }

}

@media(min-width: 1000px){
    .search-icon input {
        display: flex;
    }
    .search-icon .icon {
        background: rgb(228, 227, 227);
        border-radius: 0 5px 5px 0;
    }
    nav .user {
        display: block;
    } 
    .user a:hover, .heart:hover, .shop:hover{
        color:#21660c;
        cursor: pointer;
    }
}



