

@media screen and (max-width: 550px){
    .grid-cajas {
        display: flex;
        flex-direction: column;
    }
    .caja {
        width: 300px;
        height: 300px;
    }
    .art {
        padding-left: 75px;
    }
    .letter {
        padding-top: 8px;
        padding-bottom: 5px;
    }
    .descrip {
        padding-top: 3px;
        padding-bottom: 8px;

    }

    .price {
        size: 50px;
        padding-top: 40px;
        padding-bottom: 5px;
    }
  }

/*@media screen and (min-width: 550px){
  .grid-cajas {
      display: flex;
      flex-direction: column;
  }
  .caja {
      width: 300px;
      height: 300px;
  }
}*/

@media screen and (min-width: 551px){
    .grid-cajas {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .art {
        padding-left: 80px;
    }

    .descrip{
        font-size: 16px;
        padding-bottom: 5px;

    }
    .letter {
        font-size: 26px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .price {
        font-size: 20px;
        padding-top: 40px;

    }
    .caja {
        width: 290px;
        height: 290px; }

    .move {
        display: inline-block;
        margin-left: 20px;
        margin-right: 40px;
        height: 35px;
    }

    .text-sabermas {
        text-align: justify;
        font-size: small;
        padding-top: 18px;

    }

    .tsm {
        font-size: small;
        padding-bottom: 10px;
    }

    .tsm2 {
        font-size: small;
        padding-bottom: 10px;
    }
    .copy {
        font-size: small;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
  
}

/* responsive footer codigo 

@media screen and (min-width: 900) {
.tsm {
    font-size: 25px;
}
.tsm2 {
    font-size: 22px;
}
.text-sabermas {
    font-size: 25px;
}
}

@media screen and (max-width: 600) {
  .tsm { font-size: 19px;
  }
  .tsm2{
      font-size: 17px;
  }
  .text-sabermas {
      font-size: 22px;
  }


}

@media screen and (max-width: 0px) {

}


responsive footer codigo */


@media screen and (min-width: 1000px){
    .grid-cajas {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .descrip{
        font-size: 16px;

    }
    .letter {
        font-size: 26px;
    }
    .price {
        font-size: 20px;
    }
    .caja {
        width: 290px;
        height: 290px; }

    .move {
        display: inline-block;
        margin-left: 40px;
        margin-right: 80px;
        height: 100px;
    }

    .text-sabermas {
        text-align: justify;
        font-size: x-large;

    }

    .tsm {
        font-size: small;
        padding-bottom: 10px;
    }

    .tsm2 {
        font-size: small;
        padding-bottom: 10px;
    }
    .copy {
        font-size: small;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
}